:root {
  --color-body-background: #1b2839;
  --color-h1: rgba(255, 255, 255, 0.70);
  --color-h2: rgba(255, 255, 255, 0.30);
  --color-p:  rgba(255, 255, 255, 0.50);

  /* NAVIGATION BAR */
  --color-header-background: rgba(0, 0, 0, 0.1);
  --color-header-normal: rgba(255, 255, 255, 0.40);
  --color-header-active: rgba(255, 255, 255, 0.90);
  --color-header-hover: rgba(255, 255, 255, 0.90);

  /* INGREDIENTS SEARCH */
  --color-search-bar-font: var(--color-header-active);
  --color-search-bar-background: hsl(214, 36%, 10%);
  --color-search-results-unselected: hsl(214, 20%, 23%);
  --color-search-results-selected: hsl(214, 36%, 40%);
}
body {
  font-family: -apple-system, BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica,Neue,sans-serif;
  font-size: 16px;
  color: var(--color-h1);
  margin: 0px;
  padding: 0px;

  background-color: var(--color-body-background);
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
div {
  text-align: center;
}


/* --- NAVIGATION BAR ----------------------------------- */
.navBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  
  color: var(--color-header-normal);

  background-color: var(--color-header-background);
}
.navBar li {
  margin: 10px;
  cursor: pointer;
}



/* --- INGREDIENT SEARCH -------------------------------- */

.searchBar {
  margin: 15px;
}
.searchBar input[type=text] {
  margin: 0px 100px 20px 100px;
  width: 70%;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--color-h1);
  color: var(--color-search-bar-font);
  background-color: var(--color-search-bar-background);
  font-size: 160%;
}

.searchResults {
  width: 80%;
  margin: 10px auto;
}
.searchResult {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--color-search-results-unselected);
  cursor: pointer;
}
.searchResult div {
  max-width: 500px;
  margin: 10px;
}
.searchResultNdbno {
  margin-left: 10px;
  margin-right: 10px;
}
.searchResultNdbno {
  color: var(--color-search-results-selected);
}

.ingredientList h3 {
  padding-top: 20px;
}
.ingredientList ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: 10px auto;
}
.ingredientList li {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--color-search-results-unselected)
}



/* --- SCHEDULES ---------------------------------------- */

.schedules {

  margin: 0 10px;
}
.week {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}
.Monday, .Tuesday, .Wednesday, .Thursday, .Friday, .Saturday, .Sunday {
  border-radius: 10px;
  border: 1px solid yellow;
}
.Monday    { grid-column: 1 }
.Tuesday   { grid-column: 2 }
.Wednesday { grid-column: 3 }
.Thursday  { grid-column: 4 }
.Friday    { grid-column: 5 }
.Saturday  { grid-column: 6 }
.Sunday    { grid-column: 7 }
.schedulesDish {
  padding: 5px;
  text-align: left;
  border: 1px solid yellow;
}
.schedulesDish input[type=text] {
  grid-column: 1;
  grid-row: 1;

  padding: 5px 5px 5px 8px;
  font-size: 110%;
}
.scheduleDishIngredientList {
  grid-template-columns: 100px 100px auto;
  padding: 5px;
  text-align: left;
  border: 1px solid yellow;
}
.scheduleDishIngredientList ingredientName {
  grid-column: 1;
}
.scheduleDishIngredientList ingredientCalories {
  grid-column: 2;
}
.scheduleDishIngredientList ingredientName,
.scheduleDishIngredientList ingredientCalories {
  padding: 5px;
  border: 1px solid red;
}